node_modules
coverage
media

# typescript src
src

babel.config.js
jest.config.ts
tsconfig.json
nodemon.json

*.log
Dockerfile*
docker-compose*
.dockerignore

# .git
# .gitignore
# .eslintrc
# .eslintignore
# .env.development
# .nvmrc
# .prettierrc
.*
!.env

docker-entrypoint.sh

README.md
LICENSE
.vscode