{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@shopify/esnext",
    "plugin:@shopify/typescript",
    "plugin:@shopify/typescript-type-checking",
    "plugin:@shopify/node",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "rules": {
    "prettier/prettier": 2,
    "no-console": 1,
    "jest/no-disabled-tests": 1,
    "jest/no-focused-tests": 2,
    "jest/no-identical-title": 2,
    "jest/prefer-to-have-length": 1,
    "jest/valid-expect": 2
  }
}
